# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Entorno virtual
venv/
env/
.env/
.venv/

# Variables de entorno
.env
.env.local
*.env

# Django
*.log
db.sqlite3
media/

# Archivos estáticos recolectados (collectstatic)
staticfiles/
static_root/

# Distribución / empaquetado
dist/
build/
*.egg-info/
*.egg

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini
